
.slider-image {
    width: 100%; 
    height: 100%; 
    display: block;
    object-fit: cover; 
}


.slide {
    position: relative;
    overflow: hidden;
    width: 500px; 
    height: 500px; 
}
