.signup-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    height: 600px;
    max-width: 100%;
    min-height: 480px;
    margin-left: 25%;
}
.signup-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.signup-container span{
    font-size: 12px;
}
.signup-container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
    height: 100%;
}
.signup-container input{
    background-color: #eee;
    color: #333;
    border: none;
    margin: 12px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 120%;
    outline: none;
}
.signup-container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.signup-container{
    position: absolute;
    top: 0;
    height: 100%;
    
}

.sign-up{
    left: 0;
    width: 50%;
    z-index: 2;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.SignDiv2{
    background-image: url(https://images.pexels.com/photos/3171812/pexels-photo-3171812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
 }
 .Signin{
    background-color: rgb(17, 141, 179);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}
.form-container .Signin:hover{
    background-color: #00a1ff;
}